<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pupper web joystick</title>
    <script src="./lib/vue.min.js"></script>
</head>
<body>
<div id="app">
    <div style="width:800px;margin:0 auto">
        <h2>I'm a joystick</h2>
        <el-main>
            <el-row>
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-tooltip class="item" effect="light"
                                    content="Press to toggle active mode and deactivate mode."
                                    placement="bottom-start">
                            <button>L1</button>
                        </el-tooltip>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div class="grid-content bg-purple-light">
                        <el-switch
                                v-model="value1"
                                active-text="active"
                                inactive-text="deactivate">
                        </el-switch>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div class="grid-content bg-purple">
                        <el-switch
                                v-model="value2"
                                active-text="Rest"
                                inactive-text="Trot">
                        </el-switch>
                    </div>
                </el-col>
                <el-col :span="6">
                    <div class="grid-content bg-purple-light">
                        <el-tooltip class="item" effect="light"
                                    content="Press to transition between Rest mode and Trot mode."
                                    placement="bottom-start">
                            <button>R1</button>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>


            <el-row>
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>D-Pad</span>
                            </div>
                            <div>
                                <el-row>
                                    <el-col :span="8">
                                        <button style="visibility:hidden;">
                                            ↓
                                        </button>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-tooltip class="item" effect="light"
                                                    content="raises and lowers the body."
                                                    placement="bottom-start">
                                            <button>↑</button>
                                        </el-tooltip>
                                    </el-col>
                                    <el-col :span="8">
                                        <button style="visibility:hidden;">
                                            ↓
                                        </button>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <el-col :span="8">
                                        <el-tooltip class="item" effect="light"
                                                    content="rolls the body left/right."
                                                    placement="bottom-start">
                                            <button>←</button>
                                        </el-tooltip>
                                    </el-col>
                                    <el-col :span="8">
                                        <button style="visibility:hidden;">
                                            ↓
                                        </button>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-tooltip class="item" effect="light"
                                                    content="rolls the body left/right."
                                                    placement="bottom-start">
                                            <button>→</button>
                                        </el-tooltip>
                                    </el-col>
                                </el-row>

                                <el-row>
                                    <el-col :span="8">
                                        <button style="visibility:hidden;">
                                            ↓
                                        </button>
                                    </el-col>
                                    <el-col :span="8">
                                        <el-tooltip class="item" effect="light"
                                                    content="raises and lowers the body."
                                                    placement="bottom-start">
                                            <button>↓</button>
                                        </el-tooltip>
                                    </el-col>
                                    <el-col :span="8">
                                        <button style="visibility:hidden;">
                                            ↓
                                        </button>
                                    </el-col>
                                </el-row>

                            </div>
                        </el-card>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="grid-content bg-purple-light">
                        <el-tooltip class="item" effect="light"
                                    content="Press it three times to complete a full hop."
                                    placement="bottom-start">
                            <button>“X”</button>
                        </el-tooltip>
                    </div>
                </el-col>
            </el-row>


            <el-row>
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>Left joystick</span>
                            </div>
                            <div>
                                <el-tooltip class="item" effect="light"
                                            content="moves the robot forward/backwards when in Trot mode."
                                            placement="bottom-start">
                                    <button>↑</button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="light"
                                            content="moves the robot forward/backwards when in Trot mode."
                                            placement="bottom-start">
                                    <button>↓</button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="light"
                                            content="moves the robot left/right when in Trot mode."
                                            placement="bottom-start">
                                    <button>←</button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="light"
                                            content="moves the robot left/right when in Trot mode."
                                            placement="bottom-start">
                                    <button>→</button>
                                </el-tooltip>
                            </div>
                        </el-card>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="grid-content bg-purple-light">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>Right joystick</span>
                            </div>
                            <div>
                                <el-tooltip class="item" effect="light"
                                            content="pitches the robot forward and backward."
                                            placement="bottom-start">
                                    <button>↑</button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="light"
                                            content="pitches the robot forward and backward."
                                            placement="bottom-start">
                                    <button>↓</button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="light"
                                            content="turns the robot left and right."
                                            placement="bottom-start">
                                    <button>←</button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="light"
                                            content="turns the robot left and right."
                                            placement="bottom-start">
                                    <button>→</button>
                                </el-tooltip>
                            </div>
                        </el-card>
                    </div>
                </el-col>
            </el-row>
            <el-row>
                <el-col :span="12">
                    <div class="grid-content bg-purple">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>Left joystick</span>
                            </div>
                            <div>
                                <el-row>
                                    <el-col :span="18">
                                        <el-tooltip class="item" effect="light"
                                                    content="moves the robot left/right when in Trot mode."
                                                    placement="bottom-start">
                                            <el-slider
                                                    style="margin-top: 100px;"
                                                    value="127"
                                                    max="255"
                                                    length="127px">
                                            </el-slider>
                                        </el-tooltip>
                                    </el-col>
                                    <el-col :span="6">
                                        <el-tooltip class="item" effect="light"
                                                    content="moves the robot forward/backwards when in Trot mode."
                                                    placement="bottom-start">
                                            <!--      v-model="value"-->
                                            <el-slider
                                                    vertical
                                                    value="127"
                                                    max="255"
                                                    height="255px">
                                            </el-slider>
                                        </el-tooltip>
                                    </el-col>
                                </el-row>
                            </div>
                        </el-card>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="grid-content bg-purple-light">
                        <el-card class="box-card">
                            <div slot="header" class="clearfix">
                                <span>Right joystick</span>
                            </div>
                            <div>
                                <el-row>
                                    <el-col :span="6">
                                        <el-tooltip class="item" effect="light"
                                                    content="pitches the robot forward and backward."
                                                    placement="bottom-start">
                                            <el-slider
                                                    vertical
                                                    value="127"
                                                    max="255"
                                                    height="255px">
                                            </el-slider>
                                        </el-tooltip>
                                    </el-col>
                                    <el-col :span="18">
                                        <el-tooltip class="item" effect="light"
                                                    content="turns the robot left and right."
                                                    placement="bottom-start">
                                            <!--      v-model="value"-->
                                            <el-slider
                                                    style="margin-top: 100px;"
                                                    value="127"
                                                    max="255"
                                            >
                                            </el-slider>
                                        </el-tooltip>
                                    </el-col>
                                </el-row>

                            </div>
                        </el-card>
                    </div>
                </el-col>
            </el-row>
        </el-main>
    </div>
</div>
<div id="dynamic" style="height: 200px;width: 200px;background-color: lightgrey;"></div>
<script src="./lib/nipplejs.min.js"></script>
<script>
    var dynamic = nipplejs.create({
        zone: document.getElementById('dynamic'),
        color: 'blue'
    });
</script>
<script>
let Main = {
    data() {
      return {
        value1: true,
        value2: true
      }
    }
  };

  let TT = Vue.extend(Main)
new TT().$mount('#app')

</script>
</body>
</html>